@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.App {
  background-image: url("https://files.slack.com/files-pri/T0351JZQ0-F04900ZRTSB/fast-food.png");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  font-family: 'Varela Round', sans-serif;
}

header {
  height: 35px;
  justify-content: space-between;
  text-align: center;
  display: flex;
  padding: 15px;
}

.cart {
  font-size:x-large;
  margin-left: 25px;
}

.login {
  margin-right: 25px;
  margin-left: 875px;
}

.register {
  margin: 800px;
}
.bar {
  display: flex;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgb(6, 8, 8);
}


.menu {
  position:fixed;
  right: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: #262626;
  width: 25%;
  text-align: center;
  transition: 0.3s;
}
.menu-item{
position: relative;
  margin: 12px 0;
}
.menu.active{
  right: 0;
}

.menu-link {
  transition: 0.3 ease-out;
}

.menu-link:hover{
color: azure;
}
.hamburger{
  display:block;
}
.hamburger.active .bar:nth-child(2){
  opacity: 0;
}

.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

p {
  font-size: xx-large;
  font-weight:bolder;
  position: relative;
  top: 200px;
  margin-left: 40px;
  margin-bottom: 0;
}
.delivery {
  border-radius: 5px;
  width: 250px;
  height: 50px;
}
button {
  background-color: #020202;
  color: azure;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  margin-left: 5px;
}

.about-container{
  display: flex;
  flex-direction: column;
  margin: 100px;
  height: 500px;
  max-width: 100%;
  gap: 50px;
  overflow: scroll;
}

.about-header{
  display: flex;
  text-align: center;
  justify-content: center;
}

.about-image{
  float: left;
  height: 250px;
  width: 250px;
}

.about-title{
  display: flex;
  align-items: center;
  justify-content: center;
}