body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: rgb(216, 221, 220);
  display: flex;
  padding: 10px;
  align-items: center;
  align-content:space-between;
}
.logo {
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 25px;
}
.skillet {
  background-color: red;
  height: 850px;
  width: 100%;
  background-image: url("https://files.slack.com/files-pri/T0351JZQ0-F04900ZRTSB/fast-food.png");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  font-family: 'Varela Round', sans-serif;
  position: fixed;
}

.address {
  position: relative;
  top: 40%;
  padding-left: 15px;
}

.hungry {
  position: relative;
  top: 40%;
  padding-left: 15px;
  font-weight: bolder;
  font-size: xx-large;
  margin-left: 20px;
}
.hamburger {
  margin-left: 10px;
  
}
.bar {
  display: flex;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: rgb(16, 20, 20);
}

.input {
  width: 100%;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  margin-left: 20px;
}

