@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.logo {
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 25px;
  margin-bottom: 25px;
}

.navbar a {
  text-decoration: none;
}

.logo a {
  color: rgb(225, 233, 233)
}

.btn {
  background-color: whitesmoke;
  border: none;
  border-radius: 25px;
}

.btn a {
  color: black;
  font-size: 1.1rem;
}

.btn:hover {
  background-color: rgb(216, 164, 61);
  cursor: pointer;
}

.btn:hover a {
  color:whitesmoke;
}


header {
  height: 35px;
  justify-content: space-between;
  text-align: center;
  display: flex;
  
}

.cart {
  font-size:x-large;
  margin-left: 25px;
  margin-bottom: 25px;
  color: rgb(225, 233, 233)
}

.login {
  margin-right: 25px;
  margin-left: 875px;
}

.register {
  margin: 800px;
}
.bar {
  display: flex;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: rgb(215, 225, 225);
}


.menu {
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(180, 180, 180);
  width: 25%;
  height: 25%;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
  transition-property: width;
  transition-timing-function: ease-out;
  transition-duration: 1.3s;
  z-index: 10;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  text-align: center;
}

p {
  font-size: xx-large;
  font-weight:bolder;
  position: relative;
  top: 200px;
  margin-left: 40px;
  margin-bottom: 0;
}

button {
  background-color: rgb(216, 221, 220);
  color: azure;
  border-radius: 25px;
  width: 100px;
  height: 50px;
  margin-left: 5px;
}
