@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.product-ctr {
  padding-top: 70px;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

.products{
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 3em;
  padding: 100px;
  margin: 10px;
  font-family: 'Varela Round', sans-serif;
}

.card-text, .card-title {
  color: black;
}

.product-navbar {
  padding: 5px;
 
}
.bbq {
 height:50px;
 
 border-radius: 5px;
}
.pizzas {
  height:50px;
 border-radius: 5px;
}
.sandwiches {
  height:50px;
 border-radius: 5px;
}

.desserts {
  height:50px;
 border-radius: 5px;
}
.drinks {
  height:50px;
 border-radius: 5px;
}